.wrapper {
    width: 600px;
    margin: 10px auto;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 20px;
}

.tableWrapper {
    width: 550px;
    margin: 10px auto;
    font-size: 14px;
    background-color: whitesmoke;
    border: 1px solid #f1f1f1;
    padding: 20px;
}

/*input*/
.user-input {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 20px;
    margin-bottom: 10px;
}

.user-field {
    margin-bottom: 15px;
    display: flex;
}

.user-field .user-field-name {
    display: flex;
    flex-basis: 100px;
    font-size: 14px;
}

.user-field .user-field-input {
    display: flex;
    flex: 1;
}

.user-field-input input {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 5px;
    outline: none;
    font-size: 14px;
    resize: none;
    flex: 1;
}



.user-field-button {
    display: flex;
    justify-content: flex-end;
}

/*.user-field-button button {
    padding: 5px 10px;
    width: 80px;
    border: none;
    border-radius: 3px;
    background-color: orangered;
    color: #fff;
    outline: none;
    cursor: pointer;
}*/

/*.user-field-button button:active {
    background: orange;
}*/

/*user list*/
.user-list {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 20px;
}

.user {
    position: relative;
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 10px;
    padding-bottom: 10px;
    min-height: 50px;
}

.user .user-user {
    flex-shrink: 0;
}

.user-username {
    color: blue;
}

.user-createdtime {
    padding-right: 5px;
    position: absolute;
    bottom: 0;
    right: 50px;
    padding: 5px;
    font-size: 12px;
}

.user-praise {
    padding-right: 9px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    font-size: 11px;
}

.user:hover .user-delete {
    color: red;
}

.user-delete {
    position: absolute;
    right: 0;
    top: 0;
    color: transparent;
    font-size: 12px;
    cursor: pointer;
}

.user-edit {
    position: absolute;
    right: 0;
    top: 0;
    color: transparent;
    font-size: 12px;
    cursor: pointer;
}

.user p {
    margin: 0;
    /*text-indent: 2em;*/
}

/*login page*/
.login-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-body {
    width: 460px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .3);
}

.login-header {
    color: #fff;
    font-size: 24px;
    padding: 30px 20px;
    background-color: #108ee9;
}

.login-form {
    margin-top: 12px;
    padding: 24px;
}


